:root {
    --primary-color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    padding: 1rem;
}

.signature-pad-form {
    max-width: 430px;
    margin: 0 auto;
}

.signature-pad {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}

.clear-button {
    color: rgb(105, 111, 196);
    text-decoration: none;
}

.submit-button {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
}

section.signature {
    background-color: white;
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    padding: 5px;
    width: 100%;
    margin: 5px 0px;
  }

@media (pointer: coarse) {
    body {
        overflow: hidden;
    }
}
