* {
    margin:0;
    padding: 0;
}
body {
   background-color:white;
}
header {
    background-color: white;
    width: 750px;
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
    margin: auto;
    margin-top: 10px;
}
div#logo {
    height: 50px;
    padding: 5px;
}
div#instr {
    text-align: center;
    font-weight: bold
}
div#RI {
    margin: 8px;
    text-align: right;
    font-size: 17px;
    font-weight: bold
}
table { 
    border-collapse:collapse;
    border-spacing:0;
    font-size: 11px;
    width: 750px;
    display:table;
    margin: auto;
}
table, td, th, tr  {
    border:1px solid black;
}
/* .w3-striped tbody tr:nth-child(even){ 
    background-color:#ececf8
}
table tr:nth-child(odd) {
    background-color:#fff
}
table tr:nth-child(even){
    background-color:#ececf8
} */
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover {
    background-color:#ccc
}.w3-centered tr th,.w3-centered tr td, thead, th {
    text-align:center
}
table th {
    padding:0px 2px;
    display:table-cell;
    vertical-align:top;
    background-color:#ececf8;
}

table td {
    padding:0px 2px;
    display:table-cell;
    vertical-align:top
}
main {
    background-color: white;
    width: 430px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.center {
    position: absolute;
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.529);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

select.search {
    border: none;
    padding: 2px 2px;
    background-color: inherit;
  }
select.search:focus {
    box-shadow: 0 0 0 0;
    border: none;
    outline: 0;
}
input, select, option {
    width: 100%;
    border:1px solid #636161;
    border-radius:5px;
    padding: 0px 5px;
}

.texto {
    text-align: justify;
    margin: 1%;
    color: black;
}

button {
    font-weight: bold;
    color: white;
    background-color: rgb(55, 20, 126);
    padding: 1px 10px;
    margin:10px 10px 10px 0px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{color:#000!important;background-color:#ccc!important}
legend {
    text-align:left;
    font-style: oblique;
    color: rgb(99, 5, 117);
}
input::placeholder,textarea::placeholder{
    color:rgb(197, 195, 195)
}

div.gerQtd {
    align-items: baseline;
    padding: 0px;
    margin: 0px;
}
.qtd {
    height: 20px;
    width:50px;
}
/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
} */
    
button.a, button.b {
    width: 20px;
    border-radius:0px;
    height: 20px;
    margin:0px;
    color: black;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
#alert {
    background-color: #f1bcbc;
    text-align: center;
    border:1px solid #9b0404;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.529);
}
 a {
    margin-right: 10px;
    color: rgb(55, 20, 126);
}
button.link, button.link:hover {
    padding: 0px;
    margin: 0px 5px 0px 0px;
    text-decoration: underline;
    color: rgb(55, 20, 126);
    background-color: transparent !important;
    border: none;
}
i.link {
    padding: 0px;
    margin: 0px;
    color: rgb(55, 20, 126);
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}
h2 {
    margin-top: 0px;
}